* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#grilla-uno {
    width: 100vw;
    height: 150vh;
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
}
/* inicio header */
.header {
    grid-area: header;
    width: 100vw;
    height: 40vh;
    background-image:  linear-gradient(249deg, rgba(192,165,117,1) 15%, rgba(43,35,28,1) 35%, rgba(4,1,5,1) 59%, rgba(192,165,117,1) 99%);;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegation ul {
    list-style: none;
    margin: 10px;
    margin-top: 20px;
}
.navegation ul li {
    display: inline-block;
}
.navegation ul li a
{
    color: white;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
   ;
}
.navegation ul li a:hover{ 
    background-color: rgba(197, 57, 244, 0.523);
}
/* inicio main uno */
.main-uno {
    width: 100vw;
    height: 100vh;
    grid-area: main;
}
.fondo-main-uno {
    background-image: url(../assent/images/moon-g626f6776d_1280.jpg);
}
    
h1 {
    color: rgb(255, 254, 254);
    margin-top:15px;
    text-align: center;
}
.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
.buscar-input {
    text-align: center;
    width: 600px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
}
.lupa {
    position: absolute;
    margin-left: 40%;
}
/* inicio main dos */

.main-dos {
    width: 100vw;
    height: 260vh;
}
.contenedor-dos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
img{
    height: 350px;
    width: 400px;
    margin-top: 30px;
    border-radius: 3px;
}

img:hover{
    transform: scale(2);
    transition: transform 15s ease-out;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.controles {
    width: 500px;
    height: 40px;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: 3px;
}
.cajon {
    width: 500px;
    height: 300px;
    border: 1px solid;
    border-radius: 3px;
}
.controles-dos {
    width: 50px;
    height: 30px;
    margin: 5px;
    border-radius: 1px;
}
iframe {
    height: 350px;
    width: 400px;
}
/* inicio footer */
.footer {
    grid-area: footer;
    width: 100vw;
    height: 12vh;
    background-image:  linear-gradient(249deg, rgba(192,165,117,1) 15%, rgba(43,35,28,1) 35%, rgba(4,1,5,1) 59%, rgba(192,165,117,1) 99%);;
}
h2 {
    font-size: 15px;
    text-align: center;
    color: white;
}
h3 {
    margin: 10px;
    text-align: center;
}
.tamano-logo {
    height: 95px;
    width: 95px;
    margin: 20px;
}
.redes-sociales {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    margin: 5px;
    padding: 5px;
}
.redes-sociales:hover 
{transform: scale(2);}

.tamano-logo-referencia {
    justify-content: center;
    margin-top: 5px;
    height: 35px;
    width: 35px;
}
@media only screen and (max-width: 1200px) {}
   

@media only screen and (max-width: 768px) {
    #grilla-uno {width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 2fr 4fr 1fr;
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-areas: "header header header"
            "main main main"
            "footer footer footer";
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 100;}      

        h1{
            font-size: 20px;
        }
        .lupa {
            position: absolute;
            margin-left: 73%;
        }
        img {
            height: 220px;
            width: 250px;
            margin-top: 30px;
        }
        iframe {
            height: 200px;
            width: 250px;
        }
}
    
@media only screen and (max-width: 480px) {
    #grilla-uno {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-areas: "header header header"
            "main main main"
            "footer footer footer";
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 100;
    }
    .navegation ul li {
        display: flex;
        flex-direction: column;
    }
    .navegation ul li a
    {
        color: white;
        margin: 3px;
        padding: 5px;
        text-decoration: none;
       ;
    }
    h1 {
        font-size: medium;
        margin-top: 15px;
        color: rgb(255, 254, 254);
        text-align: center;
    }
    .buscar-input {
        position: absolute;
        text-align: center;
        width: 400px;
        height: 50px;
        border: 1px solid black;
        border-radius: 20px;
        margin-top: 80%;
    }
    .lupa {
        position: absolute;
        margin-left: 70%;
        margin-top: 80%;
    }
    .controles {
        width: 350px;
        height: 40px;
        border: 1px solid;
        margin-bottom: 5px;
        border-radius: 3px;
    }
    .cajon {
        width: 350px;
        height: 200px;
        border: 1px solid;
        border-radius: 3px;
    }
    img {
        height: 200px;
        width: 200px;
        margin-top: 8px;
    }

    h1{
        margin: 30px;
        font-size: 10px;
    }



}



